{% extends 'base_templates.html' %}
{% block title %} creation {% endblock  %}

{% block contenus %}
    
   
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-4">
                <p> Nouvelle Article</p>
            <hr class="my-4">
                <form  action="{% url 'creer' %}"  method="POST"  enctype="multipart/form-data"> 
                    {% csrf_token %}  
                    {{form}} 
                    <button type="submit" class="btn btn-danger mt-2"> Envoyer </button>
                </form>
            </div>
        </div>
        
        
    </div>
    
    
{% endblock  %}